[Unit]
Description=olsr.org OLSR mesh daemon
After=syslog.target network.target

[Service]
PIDFile=/var/run/olsrd.pid
EnvironmentFile=/etc/default/olsrd
ExecStart=/usr/sbin/olsrd $DAEMON_OPTS
ExecReload=/bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
